recursive-include teleservices_package_all *
recursive-include teleservices_package_all/categories *
recursive-include teleservices_package_all/combo *
recursive-include teleservices_package_all/datasources *
recursive-include teleservices_package_all/forms *
recursive-include teleservices_package_all/workflows *
include MANIFEST.in
include VERSION
include README